[D-BUS Service]
Name=com.mikeasoft.statusnet.eventcallback
Exec=/usr/bin/invoker --type=e -s --splash /opt/statusnet-meego/images/splash.png /opt/statusnet-meego/statusnet-meego.py
