[D-BUS Service]
Name=com.mikeasoft.statusnet.eventcallback
Exec=/usr/bin/invoker --type=e -s --splash /usr/share/statusnet-meego/images/splash.png /usr/share/statusnet-meego/statusnet-meego.py
