Source: statusnet-meego
Section: user/network
Priority: extra
Maintainer: Michael Sheldon <elleo@gnu.org>
Build-Depends: debhelper (>= 7), dpatch, libqt4-dev, sync-app-dev, sync-fw-dev, libmeegotouchevents-dev
Standards-Version: 3.8.4
Homepage: http://blog.mikeasoft.com/category/statusnet-meego

Package: statusnet-meego
Architecture: any
Depends: python-pyside.qtcore, python-pyside.qtgui, python-dbus, python-gconf, libqtwebkit-qmlwebkitplugin, ${shlibs:Depends}, ${misc:Depends}
Description: Receive updates from your friends on StatusNet services such as identi.ca.
 StatusNet is a federated free software microblogging platform. This
 app makes it possible for you to receive StatusNet updates in your
 events feed, post updates, view conversations and reply to other people's
 statuses.
 .
 Please note that you will need to restart your phone before statuses
 will appear in your events feed.
XB-Maemo-Display-Name: StatusNet for MeeGo
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBI
 WXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAwAAAAMADO7oxXAAANYklEQVRo3s2aeYxd1X3HP2e5
 9923zJvlzYzHYzN4wUvB2BAWsVjpH2mhgNQ2pa0IRGkLlACp1FRpiVTSVk1IlKqNuoSUKDENitrQ
 lCg0LTWBEJaavQK8YIzt8QLexjPzZnnzlrucpX/M2ImLZzxDiduvdJ703j33nO/3nvPbzn2CBeCL
 D++jvajp6QiojmeyK5/XxybiPifMMq1Ej5aiLQhEQUkRnO5+63yWGd801k8Z40aEkAf72wtDtTQx
 7W3CjUxYJhuWe29eOW9O4kwd/uKRAxQDcB7Gm7bYXQ5WOOs3WOc3ailWOu97MusrzvmS9+Q8hOAV
 HvxPTyIEAiyQCkEipagHSlSlECPG+UEt5QtC+m2jk2Z/Z0k1pBA04ozP3rTq/Qv44sP7+OObHF99
 VPdJwfVeiOtT465wzvcZ65WxHj/D1LMwiJkPgUArgVbCSimGAiVeFoLNAjb/5nX9Q3/3zwe477fW
 LkzAJ77wX1yypo2EXHsU8hvO+ttT4zakxkXWefxC2c5XlAAlBaGWcajlViH8gxMt90hnpCafeSPh
 0ft+7swC7vn6W9z4C928sLW2WsCfJZn9aJy6vHU/I9azQElBFMpWqNX3rXWf37je7vnBc54v33X+
 3AK8/xJ/+d0bLxXe/3UzsRsT4/DMw1g+YHg/vSJhICnm1Bbn/R/cc9OTrwnx+7ML+NymHeRzcq2U
 fLPRMhtT484y7dMj1JJSXm/xjt+NM7/7z29d914Bf7ppK1IFbYGyX2/E5uYk+/9B/gRygaQYBf/o
 UXenxkx9/tb1AOgTHUyGyGtzY7NlfrWZmP9rvu9B01oE/qP5nH7KoL7NjOM7KSCXF31plt1Zb6WF
 n5XBesSJed+XTdWbtiiF/2RO+h8Cx0+Oc8/fv0oUytuarfT+ZmKjD564xyOwAlIBBlBA5EAv0EUU
 crpViPSnmqn51l996srpFbBetJksu6EZZ5Fx/gP1OB5wgBFQDSTVQJCKaQFtFhYnjoKdcTnzGKsZ
 u3youcF4vgdM6S+84Il3vLK82cquSDODX0CUEsLPDCvwXsw6qZWC0ZziWChwAqJAklnPiPAkSJY1
 MnLWzyuaOyFoxVxZzIfL2Ot36KGLoPi62ZCkaa8xdj5DIIVDCAc4hIgRIsOjsS6PdyEeeYqAWEiq
 WoMS3Lh2ETes6eXAeJNNrx3iaC1mTENvy847HUlSFmkp1/vVG3foVY+/LQ9m5uo4NcoYN8dKehAO
 JQ1SJhQLR+nq3EexOI4UMZmRxK0ik7UBJqbWkGUdgMQDiYJYCs4tR3x8wxKWdeRZ3VVk31iTf9p+
 lJYUGDufhzcd4GLhVaDV1V/57qbv6NrUmHY2W5mmBjfH9hHCopQhF1YZWLqVpUsGyUVNvLMY4zGZ
 Jcsclc6djE++xrHjVzFZW4dDgRVI73HeE2eW1HoS67An5nMOO08BAGnq8FG20rSqWo+MmT6TZT3G
 mlmTNCEcSmZEuWHWrt7COeccR0iPyQTWC6xzuJmMVCpDe/kQgfo3DlGnOnE5KvVEmeVILWHT64e5
 5rxuDk/GPLN/DOUc+VayIAFOQJbJ3iPVoFdbky2PU1OZff97pLSEwSTLBl5kcd8RnJM448AV6YpW
 U+5aRpxMcqy6jcn0MN5ZwqBOX8+PacVlJutraau1iEPFU/tHee5gFesB6+iotcg14unvC0CS2orU
 boX2NuvJMlMy5vTRd9rTpHS0D7Ko9x2M9XjjKOfOY/2y21lcuRit8nhnqDWPsXXwO7x58FGsaxHo
 Gl0drzA5tYSw4YmKIc1ShDWOKE4p1ZoUmjHOeRaauKSZKEU27dHO2VJmbG62JRTColWTnspuhEhJ
 U0FB93Hpik/T3/2hn3SUmq7ycq44/27ipM6bB36Ac1DMHyAMjpI0lhM0E1SoaR+doNiIUdbOxAnB
 QqOPMTJyzrRpb7O8yUxojD2NB/II4dB6jHw0jsks3gv6KlexuHLxaQfO5zpYO3ADg4e3MJkcR8kW
 +dxRJiaXIuOEjqEWxYkagUspBAatBdYJ6pkmltFMQJtbjPeQGRE4m+W1syYwxkhrZ9tCDiXrQEyW
 OfCS3o51iFn8rfeOjrZziMIuxt0xpFBoNYmzGUGtRpjFVFpDrMoOsMQOUQgdxsIwnewJV3Iwt4xM
 R5yp7DMZyhkTaGetNNYIY+1pdQvhMMaTpQ6lLIK5S0rvLd67UyK69xaXZahWQu/oHi48/gqFepVa
 K2PcWKQUhFHAuuJOosp6dp5zNVlQYK5K21iEtUZqY4201uJmtQFPs5UnjjVaWTyWoyPbWDtwHVKq
 95A3LqM6eYBGq4qYeSRJXMCZjPbJYyx/+zmoj5IUiqy89pfou3g9jeER9m7+EZMH36F/5EUmXMT+
 5VfOGZmtBWut0tZaTrTTCgDq9RKTtTK5sIrzsPvdp1k9cC3nLLpkOkH2Huct1mU043F2HfwhjdYo
 QkisDZiqd0Ka0jv0NsV6FVUoctUffYZ1t9xC2FbCZRnLPnINz9z7J1Tf2sXSw9s53LuWZr591q00
 IwBpnXM/LeJ/NmMtSao5OrSCNFU4C2OTh3jq1S+z590fU2+NkpkWcVJjeGw3L+34BrsOPsG0A/DU
 m53UpsrIuE5l7BA4xzlXXcm6W24mV25DCIEKQ/ovu5wLbroJlc9TbFQpTxzBWMdc3KxzVlvrnLXW
 G2PE7IYJQ8MDLO5dzaKevRibcXh4G489/zmW9FxIudhPmjU4Vt3J6MR+phNoATjiuEicBBTMFFEy
 hQe6164lLJVOmcB7R9fq89D5PHZiHB03MNYivTsNH49VeGud09b5bHoRrGYONJohu/ZeRHdnSCE/
 SCtp0GiNsvvdp0/u9WmbOfUhKJXgfUrmwM1kqfXh45gkIcjnwXuctbg0pTk8gssyvJAYBNZanDv9
 1nZOWut9Jp2n6Z3L5lyqmTY8WmTLK+cTNy+n0r6MtmI7uSBCSIGUkjDIkQsLaFVEqRAhFOW2MQqF
 MVoyZLytBykFh7Y8z6Hnt2CTBJMkZK0WtcOH2fvYf2AadZq5NsaiTqzJZuXinUudE0215vJfOa/Z
 at2QpFnk/fTyzNWmGgH73ilRm6qA7yTQEVq24WwnU1OLeOfwKva/s4rjw/2kRlPMT4LwHBlditCa
 c7PjmLExqrt2YppTpFNTHN+2le0PPcTBZ/8TgAOV1eytrMEzO58wUPV8lP+edqgR713dWtsx32Ks
 0ZRs31Vm554CubAfpU5ER6YN3SsEniBYTE9lgIGlB6h0HWUwXcKixReyIdxOdc8+Xv3q14jKJUyc
 0ByfQknBcGUp2xatJ/XArPkZeK/rDjGskezH21Fr7NKFnkU4B2kmTsab6e0/Xal5IEkEh44spjrW
 TqWziggTXrRr8H2C9fot0uMTxLUWAtA5zXDXEp6tXEZVlRBm9qMdAeDtiAyCfXpRuzs+NuyHnXNz
 FjT/G0zVQ5qtXgJtSFzAs34VU22SS1tbkRN1pBIc6VjK052XMabaEXbucyk5fVQ/0lcJR3R3ZakR
 g9VBgbtmfjXx+4O109tLCIPxglflALlonPVyJ+O5Ms+WL2RYlhAmO+NYuUAhpN7T0dZt9fDIiAf3
 osB90lirztYhrkWwLTdAvz7EnvwAR1U7zIO8B6JAWIF7KU3qXj54381orbcHWg/hHO4stqousb+4
 hH2FxVjn53UPzhFofSxQesfffPaXkUIIwlL3gVxOv6yUPPOj+wCRSc1gcQnjYRkxz0MVpSS5UL0U
 tncfAKZDo8uSepTLPRaFqnVWFQBDURep1PPuH4WqGUX5x1waN04KeGrTHUT5wuZiIfeGkmf3VYYV
 at7lpJKCYj56o1goPv7kN+7gpACAfLFzpFAoPFCMgvpZVbAAFKNgqlCIHgjz5dETv50UYNKWL7ZX
 Hm0rFf4lCtXZfSE2D0ShcuVS4ZFSR/e/2iw+ye9kSTX42r/Tv+7arJALtuLtBWlmVp7tF3uzIdSS
 rvbikx0d7Z+JMzP61IN3nbx2Sk347tbNmLA82d+/YpvErTTWrTQLPXH6gBGFis5y4YlyufyHu19/
 YXDHE1855fp7/OaVH/4YjWa8o6ur445Ke+kf2gph7WwbNkwbbFshrFU62h7s7K7ckWXZmx/59dvf
 0++0zLz3fPhjX6Kz0lccHxv9tXqjeXczTi+KUxPZeZ7jvx8IQClBFOq4mM9tLZbyX+vs7v3+5PDR
 5nMP3zvrPbPiujs3sfmB2/jF3/7bvjhuXR+nyfVxaq9I0qzPGKeM83h3ekF+HhMJQEiBloJAS5sL
 g6FcoF+OotzmfD7a/KNvfXrout97kMfvv21O0XPiI7/zAGlcI04SOvvOLSZTwyuyxGwwzm00abLS
 WNdjPRXnfMk5n3Peh947NZ3Y/uTvHkKAENJKIVIpRSKlqCtBVSs5osPcoFbqhTCQ23Klvv3jwwcb
 UZQjKrbz5DfvPOOqzRs/f+sDuKTG8JE9fPwTd8ldr7+hR+q2L3XJMm+zHu9Mm7NZAW8D753E+2kb
 E8IJIR1CZVIFTan0lJTBSKBzB7sLauiCSz5kvv3Q/W7RkrXIsJ1nH7pz3pz+G/1i+FCF5c6nAAAA
 JXRFWHRkYXRlOmNyZWF0ZQAyMDEyLTAzLTI1VDE3OjA1OjE1KzAxOjAweWE5AQAAACV0RVh0ZGF0
 ZTptb2RpZnkAMjAxMi0wMy0yNVQxNzowNToxNSswMTowMAg8gb0AAAAASUVORK5CYII=
