Source: statusnet
Section: user/Other
Priority: extra
Maintainer: Michael Sheldon <elleo@gnu.org>
Build-Depends: debhelper (>= 7), dpatch, libqt4-dev
Standards-Version: 3.8.4
Homepage: http://blog.mikeasoft.com/category/meego-statusnet

Package: statusnet
Architecture: any
Depends: python-pyside.qtcore, python-pyside.qtgui, python-dbus, python-gconf, , ${shlibs:Depends}, ${misc:Depends}
Description: Stream music from Libre.fm and discover new artists.
 Listen to free music released under creative commons licenses from 
 Libre.fm. You can legally download, remix and share any music you 
 hear from this service. By indicating which tracks you love you 
 can quickly start receiving recommendations based on your unique 
 tastes.
XB-Maemo-Display-Name: StatusNet Microblogging Client
XB-Maemo-Icon-26:
iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABmJLR0QA/wD/AP+gvaeTAAAVvUlE
QVR4nO2de7RdRZ3nP1V7n/e5577vTW7eQSSExASxJYiIimjbgGtopWlY2iINODNrOY7YM6uhbQen
ae21uteMTI8zgoI67bJbbGgRBAFR3ihvCYaEJpLnfST3ed5776r6zR/73JN787z35gYT7O9alXvO
rjq1q777V7/fr35VuwL/hqOCeqNudMPN/dl0Jno7KbvOU6xKeCzVWnd4ijbP0wXPk1ZPq9RM6nKO
urGuaC1Fh4wZw6i1docR9Yoz8lJYyb5ww6f7qse6T3AMCfzyP/zmHC8pF2SS3tmZpF7te6rdWFGR
dRgrGCs4J1gBafx1TgAQEeQgDVUqbq7WCk+BavzVWuF7cUp4Gt9TYoyM1o3dVAt5woT6nus/vuyJ
Y9HPeSRQ1F/942sfzacSV+TS+hyEQhA5JpOxbv5uNQP4niaV2JeUZqJUiR6rhnz7C5evvBPU/s9o
TjhqAm+4dXNfoZC4sZBLXGystFUDSzWwWDcv7Zs3eFqRTXlkUx6eZrxUs3fUavW//ItPrB44mnrn
TOBX7ti+Mi32qy1Z/0PVwCaLVXPckXYo+FrTkvXIpr2gVLE/qUf1/3zdZadum0tdsybwktvFe4fb
+tX2Fv/qSs2milWDkxODuP2hlaKQ88mlvWBwrH7zF1875XPcoGala2ZF4Ffu2L4yp8y9WnHKSCl6
w/XasULC03QWEljRm/YMFy+88ep1r8/0tzMm8Iu3/vrDvZ2p75drtqVYjebW0uMchWyCXNor9g+7
j3356rc+OJPfzIjAL313y6WdWfXtsVKUrob26Fp5nCOb8uhoSdYGJ+pX/NUVa28/UvkjEnj9Nzad
v6DDu2d4PEgG5s0xZI+ElK/pbk8FQ8P2whuvWf3Tw5U9LIF/dtMzaxb15Z8cK4YttTe55O2PTNKj
PZ8o7hmrn/WVf//2TYcq5x+ukq6uzA+K5bClUn9z6rzDoVJ3eJpCWyH1fWDtocodUgK/8M2NX86n
3HVD48ExaeCJgt62FLXI++9funLNfztY/kEJvPa2jUsWJN3mPeNBNnqTuCpzRcLX9Lalyv1FWfU/
/8P63fvnH3QI5535+3LNZIPIHPsWzhEHCzYcCwSho1RV+ZZk4ibgY/vnH3Dfa2/buKTHj7buHq4l
jscZhgCCYv94jZqS5htaKfo6M8HQqFvx1c+9Y9rc+QAJzJjwr0thlLDu+Bq6k4Q5FKKkSWSc6VAK
NAoloBDUPFJpRajUo1Q2q28E/nRq3jQCL7ldvEzl2Y8Mjka445BAh8IpQUQRaNibEKoaIqXwnZAX
6AmFjBMUbl5JHC+HLOjIXAxy1dRQ2DQCFw89fWmQsK3hcab7BHAKXOPzsA+703raIA48RQXY4ysW
BLA4cChxoOaHxNA5wjBs/+zfP/Wxmz7DDyavTyMw7fMn5dqxkr7mgIs7Lsy4c44GgUoxktDsTuvD
3AUGUgqDZmnNoOZRj5eqEelk4lNwUAJF+fqJd1VqZn4IFGlodEGpWGPtU/yxuhdRIGrKtYNX4zQ4
UQQe9Ke8afmeVnTnkoxUQqIp8ci9KU1rCIVo/oShUjO05BLvihsdD+Nmqz/zv547p0WXH+0frR/d
XURACVoJKIdWjubgm1Qd0iAQjTiFiAZ0Q0anExkPX4Uo6M8mGE3ve+YfPrmb699zEpmERzm03PTU
Nv7llcFmfktkOWlificCfR1pxsuJs//Pn7/rSZgigb4LLqpGRyt9glIOjQUsWjmUcqDAUyEJfxe+
LuN5VSKXJjJtmKgbY1txohHxG2ROJTG2ulZB2d83dFe0Z/nS+99KQiucCGlP85kzl7F9osrz/UUA
Kr6ed3VUCwx+KnEhMJ1ArcxZ5eAoCFSCwqC1RWmLVoJSlnxuIwt7nqetfZRU2kcpcNbhnBCFljC0
FItdjIyexmhxA+IyODyQmCxR8fB1CqIpBJ67rAN/0otBYcXhRHjP8s4mgU4pIgRvHpcaqoEhnzVn
TX5vEugpe0ptrgQqh8ahPYNWFqUc2cxrnLzyIbp7LVornEvhnMTkqVjGPE+TSik6O0dpb3uUUukp
dg2+h7GJMxFJItKwtCr+gbaC9WLWIicYJygFxgmRE5yA2b/91jKfSzW1wNCad6smv2uAT/zt/TnE
dkXGxmuys0ouljwVolWEViGLe+/i3Wc/yJJlmmTC32dtGxZRKQVKxZebUiRkswErlz/AikW34uky
IjbOEUGckDH73Kufvz7MeN1QjSy1yBIahxHh4ddHm2XSkQU32/4cPkXGoiTqueSG25NNAnOSWR+F
RjnnmFUSC2JQEoGKgJCVK/6JtesHSCQ9nAhOXJO4SSJFBETiy7LPYAuxaWlr28Wyxbfg6XHEWZx1
4Cz5yj6D0F8K+K8PbmbLcIXQCUOVkL95dCsvD5WaZdrKtdn1Z4YpjKxuy/esg8YQVsj6YA4GRCmH
aIOoCDAsW/IvrFxZBNHYRvTaOWkQKYhz8XCSyTmtNHchNO/c4Lo1v5dli77D1m3XxMNZabKVgFQ+
TZCMNc+LA0Wu+dFGUr5m/2h5OozIl+rHZMUwjCy+p04HnvEBxIWnRZGdFYGxb2cBA1g6257mpJV7
QTyMcftESsA6oV7WLO54Lz1t6yhk+wiiCbYPPca2occRVQbXkMpG/SKQzw3S0/UA/Xv+IN72oRQd
I2UGF7ZOccs5gLxUYFgwNI5Yd0DUZj4QhIZk2qyFSQl0dlE4awIdWhsgQlFl5crnUMrDuHgOqlRM
QhBYlrV+hHM3fB7PS06r49TlHyaKajz9yrd4/rXbcJjYcRaHSBxz6ez4JUMjZ2LDdkRpkvWAbCWg
kksf0CbthMJEhbaxMkqEYzWbDyNLMmkXwaQVVtJhzOwJVMogzrBw4ZPkcwpjHXrSxKKIAstZb72B
U5d9+FC1kEhk2LDmGvo613HXk/8JJ1FTLzoHnrL0dDzGjv4LAcFpTbZYnUagZywt4xVaJspoNxmp
OXYwxgKmExpGRKxti+zMlaiIRcQ0rKRlYe+/xnlWsI1kAsPqvqsOQ94kFEppFveewTlrr236iM7t
s/LthZcRMVhxiLX41aDJULZYYcFvBiiMjKOtAddIYhEXp/k2IsY6xEkbNCRQxBVmJ4GC1hatLMlk
P+lMhLUaNemaiALTypmrr5xRbUpptPJYveJCXtx6B8PjWxCZJBF8v0o2vZNiZVnssDuLckK2WKJ9
YBRPxZEXrWLdLA0j5SSeLtIIbs1XZMYYcGIKMDmExeSNcbMiUOFw2lHI7wQF1sRBg3gPn3Bq30dQ
yjtiTUBDZ2oUilOXXsgjI5ubEjiJTHqAidLiRqhUSAQB7f170M6ixKLFoYj9IQWNwKpClIdVCqU8
HBqZ6nzOEZEFcS4PkxLoXNJYOwuT3whYOkfSL+FsI4AAoBTihKW9Z866YQL0da9puD7T85KJscYD
Fpzn0bp7EBUGKLEglnxxD2vUVk7vK9HTlyKd96mVIgb6I14caucFfxXlXHccwND7z7dnByMCziah
QaBzoq1z0574kbsaE+j5NYxxKB2H20FwzpHJtM+4QbEvGKv+XLqzsVN1elu0F+BcPFSVjUhUQhCD
NgEbRp9g/YIJaqM1tv1snF+P1HDWoX1FoTfH6mVtnJHbzrM723ii5zyiZBZRh44pHhFKYa31oCmB
1nPWzthyKdXYnmuFMExhrUPZeMutEnAiWDObMJI0DJMjMnUOZkOdVYiz4BzahuAMqeo47915LzlX
YtML5QMEwBlhfHeZ8d1llFYsXNzC74/28+DKj1LNdU7zJWeDxiRgH4FOnOfcbJzOhr5DqNeyONtY
f5gcdwqGRjezoPO05r7mw8GJwzqDc4Y9Y1sOWiaMMjhj8VwENkKHNdY/dzsmLDPWWLtWniJTSJPI
+CgdO6JhzVAvBjjjGNtRRHtlztzz/3j07GsIk9kZ93gqFCDWTSHQOm8uUx7nFMVKd9OAxBo8fq6b
tt3N297y7wDvsCSKWJyLMDbEieO1XQ8ftFyt2gHOxkkcJ73+BNlacZqz7CWSnHb5p1h+3vvJL1hA
cfdudvz8YV647Vs4EweKnXVkqhOs2vwQL629YE5SKIAV50NTB87GAsdQxO7CyGgfYajwfdvMQcH2
wafZMfQMS3p/D91wJaYSKeIQHNZGRDbA2oix0g5e3f7QQe83PtEbk2cNyfoES3ZtnJZfWLKYS+78
ZwqLFzevtS5fxqIz38nqSy/hhx//EyZ27mrmLd31Av+6/CzKuZnr6qmY5EsDOMTKLJ1J29CBkfEZ
Hl2MsYK1bl9yjh8/+UVKlQGsC3FicGJxzuKcwdiQKKoT2TrWhkRRhft/cSPWHbgiWK50UanmcNYg
1rJgcEu84taATiT46O3fn0YexGEz7XkUli7lgm/egk7um0oqEfoGNs7JkRbnwIlpEijO2Tl55TZ2
Kn+z43Qmo1aTsTtxwujEdr53/1UMjrxCZGpxsjXCqNr8bEzAeGkndz5yLUOjmw/6tAf3rmw0PHb2
e0e2Tstfc9lltC1fdnBRUbGPWViyhDWX/tG0rL7BzXOejVhxFhpD2FqxTmQWbsyU9gmMj/cwPLqc
7s5t7G9BR4qv892ffIo1b7mQVUs/QHfbyWjt41zE8PjrbNp2Hxu33o21h7bao+MLmw3X1pGtjE/L
X/6+cw/dvimfF521gZf+4bvN77mgOGvVBfFWD3Gyj8DmEJ5T7EwQBy9vOZs/eJ8QRLtw+w3DyFR5
YfPt/OrVO8ikCng6hbF16mEJ5468cTMK/QaBghVHaj+yM52dh26dSHwP50i3t03LS5hgTgSiFG4q
geIIEZlbZYAooVLJ8tjT67jk9zvYuedljA0PKOecpVIbm3X9iUQF6zrj6ZkIDt1Y+YtR6u+Pw1/7
WXsRQazFRRHOWCqDQ9PyrfbmJoGexkEADR1oxZVh7tGJyQhM/0A3d/10AatXvJvWfNesG3YotLcO
IE4wAhZFNdUyLf+1H9+LMyZW7pPLBc7hjMEEATYMEWfZ/sgj0343numaU3+VOJxQahKI6InJKdjR
kGissHX7Qm7+XgtLek7nrLUfIJPOzZgorT209tl/nrq4byuCwYpgUexuWzJN2l677z52P/ULTFDH
hiE2DDH1OqZWw9br2ChiePMWXr37nmn17uhYMae+guBEFQE8gFM3XHxZtVJdFs7DLnwRKFczPPZs
nonSHs5YvYQlC1aQz7RincXYEGm4IOlkjpZsFx2ti8imOwiCbpwtkE2n8H0PwSHiSPghYxNdFMsF
AOqpHGvrWzFBrGu1p9j56M/oXHUq2e7ueMhGUUymMQy9+Cse/Ny1RLXavnYqzeNvOZ/IS8y6j8mE
JpfNbt789F3faVhhNz4pgfMFazVPPncyv3he6O7p56QlHiuWLqIjvwjtxfcqli2/2aXZtqPAzv5l
BEEGAI2jrWOEk5dvYnHfNrR2rFn1DP2DfRhRjKTaebX1FNZmtjIxUMZGjtpYkYev+yw9a8+gb8PZ
ZLp7qQ0Ps+upx+n/5ZMEpX1BWD/p8WLXOsp+Jg57zxIKwTkZg8l4oPZ3aDW/BE7CAQMDfQwM9PH4
0zMpHf87PNzJyPC7acm/jbWnPcfihTt5y/JNbHltNQ54uOv36Bsv09UH4/1lorphor9EVH2KvRuf
Q3sKG1nqpZCgHDVdtGQ2QX9mIU/3vTPWmXOAVoJT7IBmMMH7tac5JgQeLcaLeR7/xXtYtHAXZ6x7
lt2DC5koxqty/5zbwNX5x+ltSTK0ZRRxQmW0TuUQG6TSLUlqmRZ+suC92IaxmQu0EqwkX4IGgZGy
zx8rCZwv7Ny9iOGRDt62+iWe/dU7MMan5KX53+5cPp54iuXrfXa9tBc5xD6OfGeGkXQ73+v8AKGX
mtPQnYRWgpfyn4MGgYXOzIvjReXEOX38bSvfh3IlzS+fP4OFvQPs6l+EA6z4fEudxUXFZ1h/imPw
1RHETu9FvjvLLq+DOzveR6ASR0WeAjytTGbDpS/DH+/zFz7wyb8b2jlU7DkRXmFVCImEIYxiC6pE
8MVy/vizrHc7mBioNMumCyl2Jru5Y8F52KOJQjeQ8DSLe1sHfvqdz/fBlN1Zyku9nPR4fziPOzqP
JWzgMWVDCCLw0/w6OoZH6UoHRHWD52uKpLiz6xwiAeTo+5ZMafBSL01+bxJoVeLJhM/7j2c9eDiI
CKHS3N9yOpcW41d9rXX8uO2d1JV/VMN2KnwP0Imnmt+bH3TyvoTHF05UAiEO0u5NFNiSXsRbox0M
pTrZlumdN/IAEh5IMnnv5PcpcyZR7770xomdg6WWAzYpniDQImgcS6uDXNz/KA/0nMnG1pXzVr/v
aZYtaJ149J+ub5/c8D1FqyrxU4VHsumZLYYfjxAVL63uzPQSegm25vvmtf5sysNL5h+e+qLNNLOk
Uvlvn9AEohClMNpjU345Ve/AHVxHg1zaQ2dbvjn12jQCu86/8ofZTHrC947e3P+2II035ba0LJ3X
en1Pk8lkxh76+qd+PPX6NKZ+8EfKJtKttxeyh32R/YRAf3r+4pEArVkfP932j/sfGXWAqLlk5/WF
fKru6TfsYLdjAjcPTvMkPK1oyaWrrW19f7F/3gF3efiWy4eTmfYfvRmkcL5QyPqksm13/fCrF4/v
n3fQx5To7P6ztpZMOeGfuLpwvpDwNW0t2RKZ1v9ysPyDMvTA/7hsp9/Se11XIfnGndB4HEIB3YUk
iZbuP//Z1z95wHkJk2UOiXM//ncvDA+PrB+v/O4dewLQlkvQ1dX1/CPf/fwZhypz2DGqsn3nd7YX
+nPp3z19mEv7dLUXdvutXR88XLnDEvjwLZcP5wq95/d05CZSv0P6MOVrejry4609i8976GufHDlc
2SOyct/NV27K5novW9iVK2eTJ+4sZabIpjwWdOVL6ULPH//opk8cfLPiFMzYRlzwH79xamls7wN7
R0uL38zH3/V0te7KtS08796vffLVmfxmVkb2Q9fcvLBeKd5TKo6//c14AGO+0P6M39l30UM3XT50
5F/FmJOX8sGrv/6ZSnHvjeMT1cKb4QjQ9kJ2Itvec90DX//0/51tHXN28z541TdWBPXSTVG9+KFS
NUwWq+aEkciEpylkfVqyySCRaf1JttDy2Xu/dtX2udR11H7y+Vfe2mdM6caoXvzDehC2VuqWat0e
+Ob4bxm+1mTTHrm0RyaVGvczhTuSqfRf3n/Lp387xyAfCFHvvermj7qwdoUNyucE9eC4Oog7nU5N
eMnsYzrR8u2f33b18XMQ96Fw3hXfOMcSXCCmfraL6qtNFLyhR8H7fmpUJ1OblJ99IuHl7nnw1iuO
96PgD4+Lrrk7W6vvebvxg3XOmFXKRUtBOsTaNhFXEBe1gksBiHMJGi+yTGmqVVo3/CddV9ovKuUV
lafHlPJHldI7lJd8xdOJl9Je7wt333LRG/KfEfwbjhL/H4Rj26nAtEWHAAAAAElFTkSuQmCC
