[Desktop Entry]
Type=Application
Name=StatusNet
X-logical-id=statusnet
X-translation-catalog=statusnet
Icon=/usr/share/icons/hicolor/80x80/apps/statusnet.png
Exec=/usr/bin/invoker --type=e -s /opt/statusnet-meego/statusnet-login.py

X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
# this has to be identical to the value in Name
X-Maemo-Fixed-Args=StatusNet

[DCP]
Category=Events Feed
Order=10
